extends ../template.pug
block content
  .row
    .marginchido.columns: img(src="./scripts/assets/title.png", alt="")
  .container
    .row.text-center ¡Visita Extinctionrun.com desde tu computadora y comienza a jugar!
    .row
      .codeForm  
        |
        form
          .row.column.text-center.instruccionesMobile Ingresa tu código aquí:
          
          .row: input(type='text', name='code' class = 'columns')
          .row.botonConect: input(type='submit', name='submit', value ='Conectar')
  .container.lightbox
  |
  .container.box.text-center: p(id = 'msg') 
    .row: .float-left: button(id = 'startApp') Continuar
      br
      br
