extends ../template.pug
block content
  .container
    .row
      .marginchidodesktop.columns: img(src="./scripts/assets/title.png", alt="")
    .container.instrucciones
      br
      .row.text-center.colordesktop ¡Visita Extinctionrun.com desde tu celular y comienza a jugar!
      br 
      .row.text-center.colordesktop El código de sincronización es:
      .row
        .code.text-center.colordesktop #{code}
  .lightbox
  |
  .box.text-center: p Los dispositivos se han conectado. Pulsa continuar desde tu celular
